.about {
  background-color: #fff;

  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;

  &__deform {
    background-color: #161616;
    position: absolute;
    width: 80vw;
    height: 140vh;
    left: 48vw;
    top: -10vh;
    transform: rotate(4deg);
    z-index: -10;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    height: 100vh;
  }

  &__text {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 6.5vw;
    font-size: 28px;
    text-align: left;
    font-family: 'Calibri';
    color: #fff;
  }

  &__title {
    margin-bottom: 3vh;
    font-size: 80px;
    font-family: 'Haetten';
    font-weight: normal;
  }

  &__photo {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    // flex-direction: column;

    & img {
      width: calc(300px + 5vw);
    }
  }
}
