.header {
  background-color: rgb(134, 134, 134);
  background: url("../../img/Header.png") no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  &__deform {
    position: absolute;
    transform: rotate(2.7deg);
    left: -50vw;
    top: -10vh;
    width: 200vw;
    height: 30vh;
    background-color: #131313;
  }

  &__content {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 12vh;
    left: 0;
    top: 0;

    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin-left: 2vw;
    margin-right: 5vw;
    font-size: 90px;
    font-weight: normal;
    font-family: 'Haetten';
  }

  &__info {
    font-size: 60px;
    font-family: 'Calibri';
    margin-top: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__arrow {
    margin-bottom: 5vh;
    width: 130px;
    height: 130px;
  }
}
