.skills {
  background-color: rgb(121, 121, 121);

  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  &__block {
    width: 20vw;
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__block:hover {
    width: 40vw;
    background-color: rgb(75, 75, 75);
  }
}
