<div class="about__deform"></div>

<div class="about__content">
  <div class="about__photo">
    <img src="../img/unnamed.png" alt="">
  </div>

  <div class="about__text">
    <h2 class="about__title">Обо мне</h2>

    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Буквоград страна вершину языкового бросил живет вопроса буквенных она дал свой пор? Ее речью свою продолжил имеет, злых дороге заголовок?</p>
    <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Буквоград страна вершину языкового бросил живет вопроса буквенных она дал свой пор? Ее речью свою продолжил имеет, злых дороге заголовок?</p>
  </div>
</div>



