<section class="navmenu">
  <span class="navmenu__line"></span>

  <a class="navmenu__link navmenu__link--active" href="#header">
    <span class="navmenu__figure"></span>
    <span>Header</span>
  </a>

  <a class="navmenu__link" href="#about">
    <span class="navmenu__figure"></span>
    <span>About</span>
  </a>

  <a class="navmenu__link" href="#skills">
    <span class="navmenu__figure"></span>
    <span>Skills</span>
  </a>

  <a class="navmenu__link" href="#footer">
    <span class="navmenu__figure"></span>
    <span>Contacts</span>
  </a>
</section>
