
  <div class="skills__block">
    <h1 class="skills__title">
      HTML + CSS
      <div class="underline"></div>
    </h1>

    <div class="skills__text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem tempora libero aliquid fugiat voluptas, officiis eius distinctio nobis quidem tempore est, nostrum aspernatur fugit voluptatem esse quod laborum modi similique.
      Ut maxime obcaecati eveniet eius molestias delectus blanditiis illo architecto provident, minima, omnis cum praesentium id odit possimus quidem distinctio voluptatem eos. Enim, provident reprehenderit praesentium quod similique harum saepe!
    </div>
  </div>

  <div class="separator"></div>

  <div class="skills__block">
    <h1 class="skills__title">
      JS
      <div class="underline"></div>
    </h1>


    <div class="skills__text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem tempora libero aliquid fugiat voluptas, officiis eius distinctio nobis quidem tempore est, nostrum aspernatur fugit voluptatem esse quod laborum modi similique.
      Ut maxime obcaecati eveniet eius molestias delectus blanditiis illo architecto provident, minima, omnis cum praesentium id odit possimus quidem distinctio voluptatem eos. Enim, provident reprehenderit praesentium quod similique harum saepe!
    </div>
  </div>

  <div class="separator"></div>

  <div class="skills__block">
    <h1 class="skills__title">
      React JS
      <div class="underline"></div>
    </h1>

    <div class="skills__text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem tempora libero aliquid fugiat voluptas, officiis eius distinctio nobis quidem tempore est, nostrum aspernatur fugit voluptatem esse quod laborum modi similique.
      Ut maxime obcaecati eveniet eius molestias delectus blanditiis illo architecto provident, minima, omnis cum praesentium id odit possimus quidem distinctio voluptatem eos. Enim, provident reprehenderit praesentium quod similique harum saepe!
    </div>
  </div>

  <div class="separator"></div>

  <div class="skills__block">
    <h1 class="skills__title">
      Node JS
      <div class="underline"></div>
    </h1>


    <div class="skills__text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem tempora libero aliquid fugiat voluptas, officiis eius distinctio nobis quidem tempore est, nostrum aspernatur fugit voluptatem esse quod laborum modi similique.
      Ut maxime obcaecati eveniet eius molestias delectus blanditiis illo architecto provident, minima, omnis cum praesentium id odit possimus quidem distinctio voluptatem eos. Enim, provident reprehenderit praesentium quod similique harum saepe!
    </div>
  </div>

